<?xml version="1.0" encoding="utf-8" ?> 
<menu xmlns:android="http://schemas.android.com/apk/res/android">
    <item
        android:id="@+id/navigation"        
        android:title="Navigation"
        android:icon="@drawable/Icon"
        android:showAsAction="ifRoom">
        <menu>
            <item
                android:id="@+id/resources"
                android:icon="@drawable/focus"
                android:title="Resources" />
            <item
                android:id="@+id/deckbox"    
                android:icon="@drawable/deckbox"
                android:title="Deckbox" />
            <item
                android:id="@+id/rules"
                android:icon="@drawable/rulebook"
                android:title="Rules &amp; Errata" />
            <item
                android:id="@+id/about"
                android:title="About Resource Droid" />
        </menu>
    </item>
</menu>